NODE_ENV=development

PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=auto_payment
DATABASE_PASSWORD=auto_payment
DATABASE_NAME=auto_payment

JWT_SECRET=lehuuminhquan2004
JWT_EXPIRES_IN=1h

DATABASE_URL="mysql://auto_payment:auto_payment@localhost:3306/auto_payment"